*{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color:black;
}

a{
    text-decoration: none;
}

h1{
    color: white; 
    font-size: 10px; 
    margin-left: 28px;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
} 

h2{
    display: flex;
    justify-content: left;
    margin-left: 28px;
    font-size: 50px;
    color: white;
}
#conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

#slider{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img_slider{
    width:100%;
}
#img_slider img{
    width:100%;
    display: none;
}
#img_slider img:nth-child(1){
    display:block;
}
#slider button{
    width:50px;
    height:50px;
    border:solid white 2px;
    color:white;
    outline:none;
    cursor: pointer;
    background:none;
    border-radius: 25px;
    font-size:40px;
    transition: all 0.1s ease-in-out;
}
#slider button:hover{
    transform:scale(1.05);
}
#slider button:active{
    transform:scale(0.95);
}

@media (max-width: 800px){
    h1{
    font-size: 30px; 
} 


}
